/* @import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap'); */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #012a4a;
  color: white
}

@font-face {
  font-family: "MonoLisa";
  src: url("./fonts/MonoLisa-Regular.woff2");
}

@font-face {
  font-family: "MonoLisaBold";
  src: url("./fonts/MonoLisa-Bold.woff2");
}

@font-face {
  font-family: "Southam Demo";
  src: url("./fonts/Southam_Demo.otf");
}

@font-face {
  font-family: "Monaco";
  src: url("./fonts/Monaco.woff");
}


.page-enter-active,
.page-leave-active {
  transition: opacity 0.2s ease;
}

.page-enter-active {
  transition-delay: 0.2s;
}

.page-enter-from,
.page-leave-to {
  opacity: 0;
}

/* body {
  @apply bg-background text-p_text font-theme selection:    bg-selectionBack relative w-full flex flex-col items-center; */
/* } */

/* div>.router-link-active {
  @apply bg-btn_back text-btn_text pb-2 pt-2 rounded-md;
} */